ShopApplication/.idea/
ShopApplication/out/
ShopApplication/target/
*.iml
*.class
/ShopApplication/src/main/resources/server_resources/database/
/ShopApplication/src/main/resources/server_resources/accountImg/
/ShopApplication/src/main/resources/server_resources/sellableImg/
/ShopApplication/src/main/resources/server_resources/files/
/ShopApplication/src/main/resources/temp/
