* {
    color-1: #085de4;
}

.bg-pane {
    -fx-background-color: #81c9e1;
}

.button:hover {
    -fx-effect: dropshadow(one-pass-box, black, 6, 0, 0, 0);
}

.button:pressed {
    -fx-opacity: 80%;
}

#add-product-image {
    -fx-background-image: url("../img/add-product-page.png");
    -fx-background-size: 300;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.text-field {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-font-style: italic;
    -fx-background-radius: 40 40 40 40;
}

.field-box {
    -fx-font-size: 14;
    -fx-background-radius: 40;
    -fx-background-color: whitesmoke;
}

#header-label {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.property-label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#browse-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-graphic: url("../img/browse-button.png");
}

#back-button {
    -fx-background-color: #29292D;
    -fx-text-fill: lightgrey;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

#add-product-button {
    -fx-background-color: color-1;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}

#save-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-radius: 5;
    -fx-padding: 5 0 5 0;
    -fx-min-width: 120px;
    -fx-max-width: 120px;
}

#discard-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-radius: 5;
    -fx-padding: 5 0 5 0;
    -fx-min-width: 120px;
    -fx-max-width: 120px;
}
