#bg-pane2 {
    -fx-background-color: rgba(144, 144, 144, 0.4);
}

#categories-box {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #29292D;
}

.button {
    -fx-background-image: url("../img/category-tree.png");
    -fx-text-fill: #29292D;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-size: 20;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 0 20 0 0;
    -fx-alignment: center;
}

.button:hover {
    -fx-underline: true;
    -fx-effect: dropshadow(one-pass-box, darkgray, 1, 0.0, 0, 0);
}

.button:pressed {
    -fx-opacity: 80%;
}

#heading-box {
    -fx-background-color: #29292D;
    -fx-background-radius: 5 5 5 5;
    -fx-min-width: 200;
}

#heading-label {
    -fx-font-size: 36;
    -fx-font-weight: bold;
    -fx-text-fill: lightgrey;
    -fx-background-color: #29292D;
}