.button {
    -fx-background-image: url("../img/category-tree.png");
    -fx-text-fill: #29292D;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-size: 20;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 0 20 0 0;
    -fx-alignment: center;
}

.button:hover {
    -fx-text-fill: green;
    -fx-underline: true;
    -fx-background-image: url("../img/category-tree-hover.png");
    -fx-effect: dropshadow(one-pass-box, darkgray, 1, 0.0, 0, 0);
}

.button:pressed {
    -fx-opacity: 80%;
}

.label {
    -fx-background-color: transparent;
    -fx-text-fill: #29292D;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-size: 20;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 0 20 0 0;
    -fx-alignment: center;
}