* {
    color-1: #085de4;
}

.bg-pane {
    -fx-background-color: #81c9e1;
}

.button:hover {
    -fx-effect: dropshadow(one-pass-box, black, 6, 0.0, 0, 0);
}

.button:pressed {
    -fx-opacity: 80%;
}

#login-image {
    -fx-background-image: url("../img/login-page.png");
    -fx-background-size: 300;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.text-field {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-font-size: 16;
    -fx-font-family: "MV Boli";
    -fx-background-radius: 0 40 40 0;
}

.field-box {
    -fx-background-radius: 40;
    -fx-background-color: whitesmoke;
}

.label {
    -fx-font-size: 12;
}

.hyperlink {
    -fx-text-fill: color-1;
}

#header-label {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

#message-label {
    -fx-text-fill: red;
    -fx-font-size: 14;
}

#login-button {
    -fx-background-color: color-1;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 10 80 10 80;
    -fx-background-radius: 40;
}

#show-password-button {
    -fx-background-color: transparent;
    -fx-graphic: url("../img/show-password-unselected.png");
}

#show-password-button:selected {
    -fx-graphic: url("../img/show-password-selected.png");
}