* {
    color-1: #085de4;
}

#bg-pane {
    -fx-background-color: white;
}

.button:hover {
    -fx-effect: dropshadow(one-pass-box, black, 6, 0.0, 0, 0);
}

.button:pressed {
    -fx-opacity: 80%;
}

#add-to-cart-button {
    -fx-graphic: url("../img/add-to-cart-button.png");
    -fx-text-fill: whitesmoke;
    -fx-background-color: color-1;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 10 30 10 30;
}

#edit-button {
    -fx-graphic: url("../img/edit-button.png");
    -fx-text-fill: whitesmoke;
    -fx-background-color: color-1;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 10 50 10 50;
}

#compare-button {
    -fx-graphic: url("../img/compare-button.png");
    -fx-text-fill: lightgrey;
    -fx-background-color: #29292D;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-padding: 7 20 7 20;
}

#review-button {
    -fx-graphic: url("../img/review-button.png");
    -fx-text-fill: lightgrey;
    -fx-background-color: #29292D;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-padding: 4 24 4 24;
}

#rate-button {
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-underline: true;
    -fx-text-fill: color-1;
}

#rate-button:hover {
    -fx-text-fill: #29292D;
    -fx-effect: none;
}

#name-label {
    -fx-font-weight: bold;
    -fx-font-size: 26;
}

#rating-count {
    -fx-font-size: 12;
    -fx-text-fill: darkgrey;
    -fx-font-weight: bold;
}

#seller-label {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#price-before-label {
    -fx-font-size: 18;
    -fx-text-fill: red;
}

#price-before-label .text {
    -fx-strikethrough: true;
}

#price-after-label {
    -fx-font-size: 20;
}

.property-label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.value-label {
    -fx-font-size: 14;
}

#sale-percentage-label {
    -fx-background-color: #ff2c42;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

#available-label {
    -fx-background-color: #ff2c42;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 5 5;
    -fx-padding: 0 90 0 87;
}
