* {
    table-color-1: #29292D;
    table-color-2: green;
}

.bg-pane {
    -fx-background-color: white;
}

#bottom-box {

}

#message-label {
    -fx-font-size: 13;
    -fx-font-family: "Sina";
}

#purchase-button {
    -fx-background-color: table-color-2;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-family: "Sina";

}


.table-view {
    -fx-background-color: table-color-1;
    -fx-background-radius: 7px;
}

.table-view .column-header,
.table-view .filler,
.table-view .column-header-background {
    -fx-background-color: table-color-2;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 5 0 5 0;
}

.table-view .column-header .label {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-alignment: center;
    -fx-background-color: table-color-1;

    -fx-text-fill: lightgray;
    -fx-border-color: darkgrey;
    -fx-border-width: 0 0 0 0.2;
}


.table-row-cell:selected {
    -fx-background-color: whitesmoke;
    -fx-text-background-color: table-color-2;
}

.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: table-color-1;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: table-color-1;
    -fx-padding: 2 3 0 5;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(table-color-2, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal { /* hide */
    -fx-opacity: 0;

    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
