* {
    table-color-1: #29292D;
    table-color-2: green;
    text-color-1: white;
    text-color-2: lightgrey;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button:hover {
    -fx-effect: dropshadow(one-pass-box, whitesmoke, 6, 0.0, 0, 0);
}

.button:pressed {
    -fx-opacity: 80%;
}

.details-button {
    -fx-graphic: url("../img/details-button.png");
}

.remove-button {
    -fx-graphic: url("../img/remove-button.png");
}

.increase-button {
    -fx-graphic: url("../img/increase-button.png");
}

.decrease-button {
    -fx-graphic: url("../img/decrease-button.png");
}

.accept-button {
    -fx-graphic: url("../img/accept-button.png");
}

.decline-button {
    -fx-graphic: url("../img/decline-button.png");
}

.count-field {
    -fx-background-color: white;
    -fx-font-size: 14;
    -fx-text-fill: darkgrey;
    -fx-alignment: center;
}

.table-view {
    -fx-focus-traversable: false;
    -fx-background-color: table-color-1;
    -fx-background-insets: 1px;
    -fx-background-radius: 5px;
    -fx-padding: 0 0 6 0;
}

.table-view .column-header,
.table-view .filler,
.table-view .column-header-background {
    -fx-background-color: table-color-2;
    -fx-background-radius: 5px 5px 0px 0px;
    -fx-padding: 5 0 5 0;
}

.table-view .column-header .label {
    -fx-font-size: 16;
    -fx-text-fill: text-color-1;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-alignment: center;
    -fx-background-color: table-color-1;
    -fx-text-fill: text-color-2;
    -fx-border-color: darkgrey;
    -fx-border-width: 0 0 0 0.2;
    -fx-font-size: 14;
}


.table-row-cell:selected {
    -fx-background-color: whitesmoke;
    -fx-text-background-color: table-color-2;
}

.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: table-color-1;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: table-color-1;
    -fx-padding: 2 3 0 5;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(table-color-2, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal { /* hide */
    -fx-opacity: 0;

    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
